@keyframes float {
  0% {
    background: #F33515; }
  50% {
    background: #EA6E59; }
  100% {
    background: #F33515; } }
@-webkit-keyframes float {
  0% {
    background: #F33515; }
  50% {
    background: #EA6E59; }
  100% {
    background: #F33515; } }
/*Generate coordinates for nav items and trigger transitions*/
/*Reverse the direction of nav buttons collapsing*/
body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #BEBCCC; }

nav {
  position: relative;
  width: 100%;
  top: 0;
  position: fixed;
  border-top: 2px solid #D22D11; }
  nav ul {
    position: fixed;
    list-style-type: none;
    padding: 0;
    /*Position the parent menu, not sub-menus*/
    /*Calculate positioning for expanded buttons*/
    /*Nav Button Styling*/ }
    nav ul:first-child {
      top: 0;
      left: 50%;
      margin-left: -26px;
      margin-top: 0; }
      nav ul:first-child li:first-child {
        border-radius: 0px 0px 50px 50px;
        animation: none; }
        nav ul:first-child li:first-child:hover {
          background: #F33515;
          padding-top: 5px; }
        nav ul:first-child li:first-child:focus, nav ul:first-child li:first-child:active {
          padding-top: 25px; }
    nav ul.open li {
      /*Nav items before direction switches*/
      /*Nav items after direction switches*/
      /*Transitions for the full set after assigning delays*/ }
      nav ul.open li:nth-child(2) {
        left: -150px;
        top: 25px;
        animation-delay: 0s; }
      nav ul.open li:nth-child(3) {
        left: -100px;
        top: 75px;
        animation-delay: 0.31746s; }
      nav ul.open li:nth-child(4) {
        left: -50px;
        top: 125px;
        animation-delay: 0.63492s; }
      nav ul.open li:nth-child(5) {
        left: 0px;
        top: 175px;
        animation-delay: 0.95238s; }
      nav ul.open li:nth-child(6) {
        left: 50px;
        top: 125px;
        animation-delay: 1.26984s; }
      nav ul.open li:nth-child(7) {
        left: 100px;
        top: 75px;
        animation-delay: 1.5873s; }
      nav ul.open li:nth-child(8) {
        left: 150px;
        top: 25px;
        animation-delay: 1.90476s; }
      nav ul.open li.transitioning {
        /*Nav items before direction switches*/
        /*Nav items after direction switches*/ }
        nav ul.open li.transitioning:nth-child(2) {
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
        nav ul.open li.transitioning:nth-child(3) {
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }
        nav ul.open li.transitioning:nth-child(4) {
          -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        nav ul.open li.transitioning:nth-child(5) {
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; }
        nav ul.open li.transitioning:nth-child(5) {
          transition-delay: 0.4s;
          -webkit-transition-delay: 0.4s; }
        nav ul.open li.transitioning:nth-child(6) {
          transition-delay: 0.5s;
          -webkit-transition-delay: 0.5s; }
        nav ul.open li.transitioning:nth-child(7) {
          transition-delay: 0.6s;
          -webkit-transition-delay: 0.6s; }
        nav ul.open li.transitioning:nth-child(8) {
          transition-delay: 0.7s;
          -webkit-transition-delay: 0.7s; }
      nav ul.open li {
        transform: scale(1);
        -webkit-transform: scale(1); }
      nav ul.open li:first-child {
        animation: none; }
    nav ul li {
      position: absolute;
      display: table;
      cursor: pointer;
      white-space: nowrap;
      border: 2px solid #D22D11;
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
      text-align: center;
      background: #F33515;
      border-radius: 50px;
      z-index: 1;
      transition: all 0.3s ease-out;
      -webkit-transform: translate3d(0, 0, 0) scale(0.1);
      transform: translate3d(0, 0, 0) scale(0.1);
      animation: float 3s linear infinite;
      /*Set styles for the expander button*/ }
      nav ul li.transitioning {
        /*Nav items before direction switches*/
        /*Nav items after direction switches*/ }
        nav ul li.transitioning:nth-child(1) {
          transition-delay: 0s; }
        nav ul li.transitioning:nth-child(2) {
          transition-delay: 0.1s; }
        nav ul li.transitioning:nth-child(3) {
          transition-delay: 0.2s; }
        nav ul li.transitioning:nth-child(4) {
          transition-delay: 0.3s; }
        nav ul li.transitioning:nth-child(5) {
          transition-delay: 0.4s; }
        nav ul li.transitioning:nth-child(6) {
          transition-delay: 0.5s; }
        nav ul li.transitioning:nth-child(7) {
          transition-delay: 0.6s; }
        nav ul li.transitioning:nth-child(8) {
          transition-delay: 0.7s; }
      nav ul li:hover {
        transition-delay: 0s !important; }
        nav ul li:hover p, nav ul li:hover a {
          opacity: 0.7; }
      nav ul li:first-child {
        z-index: 2;
        font-size: 1em;
        transform: scale(1); }
      nav ul li p, nav ul li a {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center center;
        margin-top: -0.5em;
        line-height: 1em;
        color: #FFF;
        text-decoration: none;
        font-weight: 900;
        display: table-cell;
        vertical-align: middle;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-out; }
      nav ul li ul {
        position: absolute;
        top: 0;
        left: 0; }

/*# sourceMappingURL=main.css.map */
