$navSize:50;
$offset:25;
$top: 5;
$bottom: 4;

@mixin floatAnim(){
	0%{
		margin-top:0px;
	}
	25%{
		margin-top:#{$navSize/10}px;
	}
	50%{
		margin-top:0px;
	}
	75%{
		margin-top:-#{$navSize/10}px;
	}
	100%{
		margin-top:0px;
	}
}
@keyframes float{
	@include floatAnim();
}
@-webkit-keyframes float{
	@include floatAnim();
}

/*Generate coordinates for nav items and trigger transitions*/
@mixin menuPos(){

	/*Nav items before direction switches*/
	$elements1: $top;
	@for $i from 0 to $elements1 {
	  &:nth-child(#{$i + 2}) {
		left:#{-$navSize*($elements1 - $i) + $navSize}px;
		top:#{($i*$navSize + $offset)}px;
		animation-delay:#{$i/3}s;
	  }
	}

	/*Nav items after direction switches*/
	$elements2: $bottom;
	@for $i from 0 to $elements2 {
	  &:nth-child(#{$i + 2 + $elements1}) {
		left:#{$navSize*(($i - 1 +$elements1) - $elements2) + $navSize}px;
		top:#{(($elements2 - $i - 1)*$navSize)  + $offset}px;
		animation-delay:#{($i+$elements1)/10}s;
	  }
	}
	&.transitioning{
		/*Nav items before direction switches*/
		$elements1: $top;
		@for $i from 0 to $elements1 {
		  &:nth-child(#{$i + 2}) {
			-webkit-transition-delay:#{$i/10}s;
			transition-delay:#{$i/10}s;
		  }
		}

		/*Nav items after direction switches*/
		$elements2: $bottom;
		@for $i from 0 to $elements1 {
		  &:nth-child(#{$i + 1 + $elements1}) {
			transition-delay:#{($i+$elements1)/10}s;
			-webkit-transition-delay:#{($i+$elements1)/10}s;
		  }
		}
	}

	/*Transitions for the full set after assigning delays*/
	&{
		transform:scale(1);
		-webkit-transform:scale(1);
		animation: float 1.62s linear infinite;
	}
	&:first-child{
		animation: none;
	}
}

/*Reverse the direction of nav buttons collapsing*/
@mixin menuOutDelay(){
	&.transitioning{
		/*Nav items before direction switches*/
		$elements1: $top;
		@for $i from 0 to $elements1 {
		  &:nth-child(#{$i + 1}) {
			transition-delay:#{$i/10}s;
		  }
		}

		/*Nav items after direction switches*/
		$elements2: $bottom;
		@for $i from 0 to $elements1 {
		  &:nth-child(#{$i + 1 + $elements1}) {
			transition-delay:#{($i+$elements1)/10}s;
		  }
		}
	}
}

body{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:#BEBCCC;
}

nav{
  position:relative;
  width:100%;
  top:0;
  position:fixed;
  border-top:2px solid #D22D11;

  ul{
	position:fixed;
	list-style-type:none;
	padding:0;

    /*Position the parent menu, not sub-menus*/
    &:first-child{
		top:0;
		left:50%;
		margin-left:-#{$navSize/2 + 1}px;
		margin-top:0;
		
		li:first-child{
			border-radius:0px 0px #{$navSize}px #{$navSize}px;
			
			&:hover{
				background:#F33515;
				padding-top:5px;
			}
			&:focus,&:active{
				padding-top:25px;
			}
		}
		
    }

    /*Calculate positioning for expanded buttons*/
    &.open{
      li{
        @include menuPos();
      }
    }

    /*Nav Button Styling*/
    li{
		position:absolute;
		display:table;
		cursor:pointer;
		border:2px solid #D22D11;
		width:#{$navSize}px;
		height:#{$navSize}px;
		top:0;
		left:0;
		text-align:center;
		background:#F33515;
		border-radius:#{$navSize}px;
		z-index:1;
		transition:all 0.3s ease-out;
		-webkit-transform: translate3d(0,0,0) scale(0.1);
		transform: translate3d(0,0,0) scale(0.1);
		@include menuOutDelay();


      /*Set styles for the expander button*/
      &:first-child{
		z-index:2;
		font-size:1em;
		transform:scale(1);
      }
      p,a{
        position:absolute;
        margin:0;
        top:50%;
        left:50%;
        transform:translateX(-50%);
        margin-top:-0.5em;
        line-height:1em;
        color:#FFF;
        text-decoration:none;
        font-weight:900;
        display:table-cell;
        vertical-align:middle;
		text-shadow:0px 0px 20px rgba(0,0,0,0.25);
      }
      ul{
        position:absolute;
        top:0;
        left:0;
      }
	  	&:hover{
			background:#523EEA;
			transition-delay:0s!important;
		}
    }
  }
}
